/* Overall structure.*/
.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 510px;
  flex-direction: column;
  margin: 40px;
  padding-bottom: 10px;
}

.calculator,
.topRow,
.btn,
.sideRow,
.number,
.displayScreen {
  border: solid 1px black;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;

}
/* Display */
.display {
  width:480px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.displayScreen {
  display: flex;
  flex: 1;
  margin: 40px 15px 15px 15px;
  width: 460px;
  align-items: flex-end;
  justify-content: flex-end;
}

.displayText {
  margin: 15px;
  font-size: 50px;
}

/* Side container */
.sideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}



/* Buttons */
button {
  width: 120px;
  height: 120px;
  font-size: 30px;
}
.topRow {
  display: flex;
  justify-content: center;
  width: 360px;
}
.numberButtons {
  display: flex;
  justify-content: center;
  width: 360px;
}


/* Calculator borders. */
  
.container {
  display: flex;
}

.numberButtons {
  display:flex;
  flex-wrap: wrap;
}

.sideRow {
  display: flex;
  flex-direction: column;
}
